---
import Example from "../components/Example.astro";
---

<Example title="Buscador de películas">
  <div class="mb-5 max-w-xl mx-auto">
    <label
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Busca tu película favorita</label
    >
    <input
      hx-post="/partials/movies"
      hx-trigger="input changed delay:500ms"
      hx-target="#results"
      hx-swap="innerHTML transition:true"
      name="search"
      mustache-template="template-results"
      type="search"
      id="base-input"
      placeholder="Avengers, The Matrix, ..."
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    />
  </div>

  <ul id="results" class="grid grid-cols-2 gap-2 max-w-2xl mx-auto"></ul>
</Example>